@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #222222;
  color: #f1faf8;
}
a {
  text-decoration: none;
  color: #e7f6f2;
}
button {
  cursor: default;
}
span {
  color: #395b64;
}
